* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: Roboto, "Open Sans", sans-serif;
  max-width: 1200px;
}
.header {
  padding: 34px 50px;
}
.header__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 34px;
}
.header__list-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #050038;
}
.hero {
  margin-bottom: 110px;
  padding: 60px 40px;
  display: flex;
  justify-content: space-between;
  gap: 56px;
}

.hero__title {
  margin-bottom: 17px;
  width: 285px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 1px;
  color: #050038;
}
.hero__description {
  width: 424px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #050038;
}
.hero__right {
  width: 640px;
  height: 463px;
}
.hero__img {
  width: 604px;
  height: 461px;
}
.team {
  padding: 0 40px;
}
