* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: Roboto, "Open Sans", sans-serif;
  max-width: 1200px;
}
.header {
  padding: 34px 50px;
}
.header__list {
  margin-left: -45px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 34px;
}

.header__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #050038;
  text-decoration: none;
  transition: 0.5s;
}
.header__link:hover {
  color: blue;
}
.hero {
  margin-bottom: 120px;
  padding: 50px 40px;
  display: flex;
  justify-content: space-between;
  gap: 56px;
}

.hero__title {
  margin-bottom: 17px;
  width: 285px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 1px;
  color: #050038;
}
.hero__description {
  width: 424px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #050038;
}
.hero__right {
  width: 640px;
  height: 463px;
}
.hero__img {
  width: 604px;
  height: 461px;
}
.team {
  margin-bottom: 120px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  gap: 116px;
}
.team__left {
  margin-top: 35px;
}
.team__title {
  width: 454px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 1px;
  margin-bottom: 18px;
  color: #050038;
}
.team__description {
  margin-bottom: 45px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #05003899;
  letter-spacing: 1px;
}
.team__link {
  padding-bottom: 1px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #4262ff;
  text-decoration: none;
  border-bottom: 1px solid #4262ff;
  transition: 0.5s;
}
.team__img {
  width: 550px;
  height: 535px;
}
.more:hover {
  color: red;
  border-bottom: 1px solid red;
}
.redactor {
  margin-bottom: 120px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  gap: 115px;
}
.redactor__img {
  width: 550px;
  height: 498px;
}
.redactor__right {
  margin-top: 60px;
}
.redactor__title {
  margin-bottom: 19px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 1px;
  color: #050038;
}
.redactor__description {
  margin-bottom: 39px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #05003899;
  letter-spacing: 1px;
}
.footer {
  padding: 46px 40px;
  margin-left: -80px;
  width: 1355px;
  height: 117px;
  background-color: #050038;
}
.footer__list {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
}
.footer__list-item {
  padding: 0;
  margin: 0;
  margin-right: 20px;
}
.footer__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
.footer__link:hover {
  color: red;
}
