* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: Roboto, "Open Sans", sans-serif;
  max-width: 1200px;
}
.header {
  padding: 34px 50px;
}
.header__list {
  margin-left: -45px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 34px;
}

.header__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #050038;
  text-decoration: none;
  transition: 0.5s;
}
.header__link:hover {
  color: blue;
}
.hero {
  margin-bottom: 120px;
  padding: 50px 40px;
  display: flex;
  justify-content: space-between;
  gap: 56px;
}

.hero__title {
  margin-bottom: 17px;
  width: 285px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 1px;
  color: #050038;
}
.hero__description {
  margin-bottom: 55px;
  width: 424px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #050038;
}
.field {
  margin-bottom: 10px;
  width: 440px;
  height: 48px;
  border: 1px solid #9b99af;
  border-radius: 32px;
}
.btn {
  margin-bottom: 8px;
  width: 440px;
  height: 51px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: #4262ff;
  border-radius: 32px;
  border: 1px solid #4262ff;
  transition: 0.5s;
}
.btn:hover {
  color: black;
  background-color: red;
  border: 1px solid red;
}
.hero__text {
  margin-bottom: 47px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #050038;
}
.hero__list {
  margin-left: -40px;

  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  gap: 20px;
}
.hero__list-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  color: #050038;
}
.hero__list-img {
  height: 33px;
}
.hero__right {
  width: 640px;
  height: 463px;
}
.hero__img {
  width: 604px;
  height: 461px;
}
.team {
  margin-bottom: 120px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  gap: 116px;
}
.team__left {
  margin-top: 35px;
}
.team__title {
  width: 454px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 1px;
  margin-bottom: 18px;
  color: #050038;
}
.team__description {
  margin-bottom: 45px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #05003899;
  letter-spacing: 1px;
}
.team__link {
  padding-bottom: 1px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #4262ff;
  text-decoration: none;
  border-bottom: 1px solid #4262ff;
  transition: 0.5s;
}
.team__img {
  width: 550px;
  height: 535px;
}
.more:hover {
  color: red;
  border-bottom: 1px solid red;
}
.redactor {
  margin-bottom: 148px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  gap: 115px;
}
.redactor__img {
  width: 550px;
  height: 498px;
}
.redactor__right {
  margin-top: 60px;
}
.redactor__title {
  margin-bottom: 19px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 1px;
  color: #050038;
}
.redactor__description {
  margin-bottom: 39px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #05003899;
  letter-spacing: 1px;
}
.style__title {
  margin-bottom: 47px;
  margin-left: 70px;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 1px;
  color: #050038;
}
.style__bottom {
  display: flex;
  justify-content: space-between;
}
.style__left {
  margin-left: 86px;
}
.style__left-title {
  margin-top: 30px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #050038;
}
.style__left-text {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #050038;
}
.style__right {
  margin-right: 70px;
  margin-bottom: 178px;
  width: 700px;
  height: 517px;
}
.inst__title {
  margin-left: 70px;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 1px;
  color: #050038;
}
.inst__list {
  max-width: 1000px;
  margin-left: 30px;
  margin-bottom: 26px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 8px;
}
.inst__list-link {
  padding: 14px 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #050038;
  text-decoration: none;
  border-radius: 24px;
  border: 1px solid #f2f2f2;
}

.one {
  background-color: #f1f3fd;
}
.inst__bottom {
  margin-left: 86px;
  margin-right: 70px;
  display: flex;
  justify-content: space-between;
}
.inst__left-list {
  margin-top: 30px;
  margin-bottom: 32px;
  padding-left: 38px;
  width: 280px;
  list-style: none;
}
.inst__left-list-item {
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #05003899;
  position: relative;
}
.inst__left-list-item::before {
  content: "";
  width: 24px;
  height: 25px;
  background-image: url("img/inst.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -38px;
}
.inst__left-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #4262ff;
  text-decoration: none;
}
.inst__left-desc {
  margin-top: 70px;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #05003899;
}
.inst__right {
  width: 700px;
  height: 517px;
}
.inst__right-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer {
  padding: 46px 40px;
  margin-left: -80px;
  width: 1355px;
  height: 117px;
  background-color: #050038;
}
.footer__list {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
}
.footer__list-item {
  padding: 0;
  margin: 0;
  margin-right: 20px;
}
.footer__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
.footer__link:hover {
  color: red;
}
